<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">

  <meta name="author" content="">

  <!-- <link rel="icon" href="../../favicon.ico"> -->



  <title> APP </title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" filename="favicon.ico">



  <!-- Bootstrap core CSS -->

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">



  <!-- url-search-params-polyfill -->

  <script type="application/javascript"
    src="{{ url_for('static', filename='js/url_search_params_polyfill.js') }}"> </script>



  <!-- popper.js -->

  <script src="{{ url_for('static', filename='js/popper.js') }}" type="application/javascript"></script>



  <!-- jQueryUI css -->

  <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- Local Custom styles for this template -->

  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">

  <!-- Hosted Style -->

  <!-- <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/zappa-j2ith0vcq/style.css"> -->



  <!-- jQuery -->

  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>



  <!-- jQuery UI -->

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>



  <!-- Bootstrap JS -->

  <script type="application/javascript"
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"> </script>



  <!-- include BlockUI -->

  <script type="application/javascript" src="{{ url_for('static', filename='js/script.js') }}"> </script>









</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand">

      <img src="{{ url_for('static', filename='img/dhl.png') }}" style="width:60px;height:60px;">

    </a>

    <h3> SUBJECT INDEX DRAFT VERSION </h3>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>

    </button>

  </nav>

  {% block content %}



  {% endblock %}

  <hr>

  <nav class="navbar navbar-expand-lg navbar-light">

    <span class="mr-auto"><img src="{{url_for('static', filename='img/un-logo-footer.png')}}"></span>

    <a class="navbar-brand un-brand" href="http://www.un.org" title="Home" alt="Home"><span class="site-name"> United
        Nations</span></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerToggler"
      aria-controls="footerToggler" aria-expanded="false" aria-label="Toggle footer">

      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="footerToggler">

      <ul class="navbar-nav {{margin}}">

        <li class="nav-item"><a class="nav-link" href="//www.un.org/en/contactus/" target="_blank">Contact</a></li>

        <li class="nav-item"><a class="nav-link"
            href="/root?lang={{lang}}&base_uri=http://metadata.un.org/thesaurus&uri_anchor=00">About</a></li>

        <li class="nav-item"><a class="nav-link" href="//www.un.org/en/aboutun/copyright/" target="_blank">Copyright</a>
        </li>

        <li class="nav-item"><a class="nav-link" href="//www.un.org/en/aboutun/fraudalert/" target="_blank">Fraud
            Alert</a></li>

        <li class="nav-item"><a class="nav-link" href="//www.un.org/en/aboutun/privacy/" target="_blank">Privacy
            Notice</a></li>

        <li class="nav-item"><a class="nav-link" href="//www.un.org/en/siteindex/" target="_blank">A-Z Site Index</a>
        </li>

        <li class="nav-item"><a class="nav-link" href="//www.un.org/en/aboutun/terms/" target="_blank">Terms of Use</a>
        </li>

      </ul>

    </div>

  </nav>

</body>

</html>