{% extends 'base.html' %}

{% block content %}
<style>
        #accordion-resizer {
          padding: 10px;
          width: 350px;
          height: 220px;
        }
</style>
<script>
    $( function() {
        $( "#accordion" ).accordion({
        heightStyle: "fill"
        });
    
        $( "#accordion-resizer" ).resizable({
        minHeight: 140,
        minWidth: 200,
        resize: function() {
            $( "#accordion" ).accordion( "refresh" );
        }
        });
    } );
</script>
<div class="row">

    <div class="container mt-4 mb-4 shadow-lg col-sm-2">

        <br>

	<form class="form-horizontal" action="{{ url_for('fullcontent') }}" method="POST">

            <div class="form-group">

                <label for="body"> <strong> Body </strong> </label>

                <!-- <input type="text" class="form-control" id="body" name="body"> -->

                <select class="form-control" id="body" name="body">
                    <option value="S/">Security Council</option>
                    <!--<option value="A/">General Assembly</option>
                    <option value="E/">Economic and Social Council</option>
                    <option value="T/">Trusteeship Council</option>-->
                </select>

            </div>

            <div class="form-group">

                <label for="session"> <strong> Session </strong> </label>

                <!-- <input type="session" class="form-control" id="session" name="session"> -->

                <select class="form-control" id="session" name="session">
                    <option value="Notimplemented">Select </option>
                    <option value="72">72</option>
                    <option value="71">71</option>
                    <option value="70">70</option>
                    <option value="69">69</option>
                    <option value="68">68</option>
                    <option value="67">67</option>
                    <option value="66">66</option>
                    <option value="65">65</option>
                    <option value="64">64</option>
                    <option value="63">63</option>
                    <option value="62">62</option>
                    <option value="61">61</option>
                    <option value="60">60</option>
                </select>

            </div>

            <button id="showresult" value="showresult" type="submit" class="btn btn-default">show result</button>

        </form>

        <br>

    </div>

    <div class="container mt-4 mb-4 shadow-lg col-sm-9">

        <h1> Full Contents </h1>
        
        <h6> Body  : {{myBody}} </h6>

        <h6> Session  : {{mySession}} </h6>

        <h6> Execution Time : {{myTime}} second(s) </h6>

        <hr>
  
       <div id="accordion">
            {% for value in record|groupby('subject')%} 
            <h3>
                <strong> {{value.grouper}} </strong>
            </h3>
                <div>

                {% for val in value.list|sort(attribute='heading')|groupby('heading') %}

                <strong>  <span class="text-primary"> >>> {{' '.join(val.grouper)}}  </span></strong>
                    {% for x in val %}
                        <ul>
                            {% for y in x %}
                                {% for z in y["docsymbol"] %}
                                <br><span><a href='{{url+ z}}' target="_blank"><strong> * {{z}} </strong></a></span>
                                {% endfor %} 
                            {% endfor %}        
                        </ul>
                    {% endfor %}

                {% endfor %}
      
                </div>  
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
